.content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.row .col.s9 {
    margin: auto !important;
}
.loginButton {
    background-color: #74dbfd;
    height: 40px;
    width: 120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.loginButton:hover {
    background-color: #58cef1;    
}
.loginButton:focus {
    background-color: #90e5ff;    
}