.signUpButton {
    background-color: #74dbfd;
    height: 40px;
    width: 120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.signUpButton:hover {
    background-color: #58cef1;    
}
.signUpButton:focus {
    background-color: #90e5ff;    
}