.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container .textInput {
    width: 50%;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
.signUpButton {
    width: 30%;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}