.App {
  text-align: center;
}
.rotateLogoReact {
  animation: App-logo-spin infinite 20s linear;
  width: 120px;
  margin-left: 20px;
  margin-right: 20px;
}
.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.accountText {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
}
.accountText p {
  font-size: 16px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.accountText::before,
.accountText::after {
  content: "";
  flex: auto;
  height: 0.1em;
  display: block;
}
.accountText::before{
  margin-right: 0.5em;
  background: linear-gradient(to right, black, #74dbfd);
}
.accountText::after {
  margin-left: 0.5em;  
  background: linear-gradient(to left, black, #74dbfd);  
}